<%- include("header") -%>

<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi quod
  quasi tempore ullam suscipit ex laboriosam architecto nam? Voluptas natus quas
  laudantium inventore repudiandae molestias minus debitis facilis cumque.
</p>

<%- include("footer") -%>
